#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
node_modules
*.tsx
.vscode
yarn.lock
src/desktop.ini
dist/bundle.js
logs